.quiz-page {
    position: absolute;
    left: 0; right: 0; top: 0; bottom: 0;
}
.word {
    position: absolute;
    left: 0; right: 0; top: 20%;
    font-size: 200px;
    font-family: sans-serif;
    text-align: center;
}
.timer {
    position: absolute;
    height: 5%;
    left: 0; right: 0; bottom: 0;
    background-color: #e0e0e0;
    -webkit-animation: timeout 15s;
    -webkit-animation-timing-function: linear;
    -webkit-transform-origin: 0 0;
}
@-webkit-keyframes timeout {
    0% { -webkit-transform: scale(0, 1); }
    100% { -webkit-transform: scale(1, 1); }
}
